:host {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
}

app-shouts-search /deep/ {
  form {
    margin-top: -10px;
  }
}

app-shouts-table /deep/ {
  .ngx-datatable {
    height: 75vh;
  }
}
