<div class="demo-container" mdl-shadow="2">
  <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>

    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>{{title}}</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a *ngFor="let link of links" class="mdl-navigation__link" [routerLink]="link.url">
            {{link.name}}
          </a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>

    <!-- slide out side-nav -->
    <mdl-layout-drawer>
      <mdl-layout-title>Title</mdl-layout-title>
      <nav class="mdl-navigation">
        <a *ngFor="let link of links" class="mdl-navigation__link" [routerLink]="link.url">
          {{link.name}}
        </a>
      </nav>
    </mdl-layout-drawer>

    <!-- content -->
    <mdl-layout-content>
      <router-outlet></router-outlet>
    </mdl-layout-content>

  </mdl-layout>
</div>
